<%- include('partials/header.ejs') %>



<main>
    <div class="header">
        <h1>Creat New Account <br><span class="arrow">&#8595;</span></h1>
    </div>

    <div class="myform">
        <div class="add">
            <form action="/register" method="post">
                <div class="first-class">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                  
                </div>
                <div class="btn">
                    <button class="btn-submit" type="submit">Create Account</button>
                </div>
            </form>
            <form action="/login" method="get">
                <button type="submit" class="btn-sign">Log In</button>
            </form>
        </div>
    </div>
</main>




<%- include('partials/footer.ejs') %>